# Basic data structures in Python

- tuple <br>
- list  <br>
- dictionaries  <br>
- set  <br>

## 1: tuple

- ordered collection of elements <br>
- use round () brackets/paranthesis <br>
- different types of elements can be stored <br>
- once elements are stored , they cannot be changed (immutatable) <br>

In [2]:
tup1 = ('faizan', 3.42, True, 5)
tup1

('faizan', 3.42, True, 5)

In [3]:
type(tup1)

tuple

In [4]:
len(tup1)

4

In [5]:
tup1*2

('faizan', 3.42, True, 5, 'faizan', 3.42, True, 5)

### Indexing in tuples

In [10]:
tup1 = ('faizan', 3.42, True, 5)
tup1

('faizan', 3.42, True, 5)

In [9]:
tup1[0]

'faizan'

In [6]:
tup1[1]

3.42

In [8]:
tup1[2]

True

In [7]:
tup1[3]

5

In [54]:
tup1[4]  #it will immidiately show an error that the entered index does'nt exist

IndexError: tuple index out of range

#### start = include
#### end = exclude or the last index is eliminated!

In [13]:
tup1[0:1]

('faizan',)

In [14]:
tup1[0:2]

('faizan', 3.42)

In [11]:
tup1[0:3]

('faizan', 3.42, True)

In [12]:
tup1[0:4]

('faizan', 3.42, True, 5)

In [62]:
len(tup1)

4

In [15]:
tup1[0:5]    #if we write index number which exceeds the last index number,it will still show all the elements of the tuple

('faizan', 3.42, True, 5)

In [17]:
tup2 = ('Hamza', 3.34, False, 6)
tup2

('Hamza', 3.34, False, 6)

In [18]:
#concatination (adding 2 or <2 tuples)
tup1 + tup2

('faizan', 3.42, True, 5, 'Hamza', 3.34, False, 6)

In [19]:
#concatination and repeation
tup1*3 + tup2

('faizan',
 3.42,
 True,
 5,
 'faizan',
 3.42,
 True,
 5,
 'faizan',
 3.42,
 True,
 5,
 'Hamza',
 3.34,
 False,
 6)

In [32]:
tup3 =(60,43,323,56,45,78,23,12,85,45)
tup3

(60, 43, 323, 56, 45, 78, 23, 12, 85, 45)

In [33]:
#find the min value of the tuple
min(tup3)

12

In [34]:
#find the max value of the tuple
max(tup3)

323

### functions in tuples:
- .count(argument)   to find the occurance of any element in a tuple
- .index(argument)   to find the index number of any element in a tuple

In [35]:
#count(value) function is used to count the occurance of any element of a tuple

tup3.count(45)

2

In [43]:
#to find the index of any element, we can use index() function by writing the element in the argument section

tup3.index(45)

4

In [41]:
tup3.index(323)

2

-----

## 2 : List

- ordered collection of elements <br>
- use square [ ] brackets/braces <br>
- different types of elements can be stored <br>
- once elements are stored , they can be changed (mutatable) <br>

In [45]:
list1 = ['faizan', 'hamza', False, 5.34, 4]
list1

['faizan', 'hamza', False, 5.34, 4]

In [46]:
type(list1)

list

In [47]:
len(list1)

5

### Indexing in list

In [48]:
list1[0]

'faizan'

In [49]:
list1[1]

'hamza'

In [50]:
list1[2]

False

In [51]:
list1[3]

5.34

In [52]:
list1[4]

4

In [53]:
list1[5]  #it will immidiately show an error that the entered index does'nt exist

IndexError: list index out of range

#### start = include
#### end = exclude or the last index is eliminated!

In [55]:
list1[0:1]

['faizan']

In [56]:
list1[0:2]

['faizan', 'hamza']

In [57]:
list1[0:3]

['faizan', 'hamza', False]

In [58]:
list1[0:4]

['faizan', 'hamza', False, 5.34]

In [59]:
list1[0:5]

['faizan', 'hamza', False, 5.34, 4]

In [61]:
len(list1)

5

In [60]:
list1[0:6]     #if we write index number which exceeds the last index number,it will still show all the elements of the tuple

['faizan', 'hamza', False, 5.34, 4]

In [66]:
list2 = ['fazi', 12,'c', 4.2, 'samosa' , 'pakora']
list2

['fazi', 12, 'c', 4.2, 'samosa', 'pakora']

In [67]:
#concatination (adding 2 or <2 lists)
list1 + list2

['faizan', 'hamza', False, 5.34, 4, 'fazi', 12, 'c', 4.2, 'samosa', 'pakora']

In [68]:
#concatination and repeatation
list1*3 + list2

['faizan',
 'hamza',
 False,
 5.34,
 4,
 'faizan',
 'hamza',
 False,
 5.34,
 4,
 'faizan',
 'hamza',
 False,
 5.34,
 4,
 'fazi',
 12,
 'c',
 4.2,
 'samosa',
 'pakora']

### functions in tuples:

In [130]:
# append () function will add anything in the list at the last index value

list2.append("faizan is learning new skills")
list2

['faizan is learning new skills']

In [79]:
#clear() is used to clear all the elements of a list

list2.clear() 
list2

[]

In [78]:
list2

[]

In [80]:
list3 = [12,43,45,3,2,67,23,87,232,785,78452,6554,23,52,2]
list3

[12, 43, 45, 3, 2, 67, 23, 87, 232, 785, 78452, 6554, 23, 52, 2]

In [3]:
lista = ["faizan", 54, 32.1, False ]
newList = lista.copy()
newList

['faizan', 54, 32.1, False]

In [83]:
list3.count(23)  #count() is used to count the occurence of any element of list

2

In [132]:
#extend() function will add the new written value as a indiviual element in list
list6.extend('fazi')
list6

[23, 34, 34, 23, 5676, 566, 'faizan', 'f', 'a', 'z', 'i', 'f', 'a', 'z', 'i']

In [134]:
#extend() function will add the new written value as a indiviual element in list (it does'nt work with integers)
list6.extend(21)
list6

TypeError: 'int' object is not iterable

In [88]:
list3.extend("faizan")
list3

[12,
 43,
 45,
 3,
 2,
 67,
 23,
 87,
 232,
 785,
 78452,
 6554,
 23,
 52,
 2,
 'f',
 'a',
 'i',
 'z',
 'a',
 'n',
 'f',
 'a',
 'i',
 'z',
 'a',
 'n',
 'f',
 'f',
 'a',
 'i',
 'z',
 'a',
 'n']

In [89]:
#to find the index of any element, we can use index() function by writing the element in the argument section

list3.index(45)

2

In [128]:
list3.sort()   #sort function cannot be used with strings
list3

TypeError: '<' not supported between instances of 'int' and 'str'

In [93]:
list4 = [21,32,54,2,54,67,23,6765,23,45,34,12,45,453436,23,2323]
list4

[21, 32, 54, 2, 54, 67, 23, 6765, 23, 45, 34, 12, 45, 453436, 23, 2323]

In [96]:
#sort() function is used to sort the elements (only work for integer elements)

list4.sort()
list4

[2, 12, 21, 23, 23, 23, 32, 34, 45, 45, 54, 54, 67, 2323, 6765, 453436]

In [97]:
#reverse() function is used to reverse the order of the list elements

list3.reverse()
list3

['n',
 'a',
 'z',
 'i',
 'a',
 'f',
 'f',
 'n',
 'a',
 'z',
 'i',
 'a',
 'f',
 'n',
 'a',
 'z',
 'i',
 'a',
 'f',
 78452,
 6554,
 785,
 232,
 87,
 67,
 52,
 45,
 43,
 23,
 23,
 12,
 3,
 2,
 2]

In [98]:
list4.reverse()
list4

[453436, 6765, 2323, 67, 54, 54, 45, 45, 34, 32, 23, 23, 23, 21, 12, 2]

In [101]:
list4.remove(23)
list4

[453436, 6765, 2323, 67, 54, 54, 45, 45, 34, 32, 23, 21, 12, 2]

In [102]:
list5 = [1,2,2,2,2,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6,7,7,7,7]
list5

[1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [106]:
#remove() function is used to remove the repeatition by one
list5.remove(5)
list5

[2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [108]:
list5.remove(2)
list5

[2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [111]:
list5.remove(4)
list5

[2, 2, 3, 3, 3, 4, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [112]:
list5.remove(4)
list5

[2, 2, 3, 3, 3, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [114]:
list5.remove(2)
list5

[2, 3, 3, 3, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [115]:
list5.remove(3)
list5

[2, 3, 3, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [116]:
list5.remove(3)
list5

[2, 3, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [117]:
list5.remove(5)
list5

[2, 3, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [118]:
list5.remove(5)
list5

[2, 3, 5, 6, 6, 6, 6, 7, 7, 7, 7]

In [119]:
list5.remove(6)
list5

[2, 3, 5, 6, 6, 6, 7, 7, 7, 7]

In [120]:
list5.remove(6)
list5

[2, 3, 5, 6, 6, 7, 7, 7, 7]

In [121]:
list5.remove(6)
list5

[2, 3, 5, 6, 7, 7, 7, 7]

In [122]:
list5.remove(7)
list5

[2, 3, 5, 6, 7, 7, 7]

In [123]:
list5.remove(7)
list5

[2, 3, 5, 6, 7, 7]

In [124]:
list5.remove(7)
list5

[2, 3, 5, 6, 7]

In [125]:
list6 = [23,34,'fazi',34,23,5676,566]
list6

[23, 34, 'fazi', 34, 23, 5676, 566]

In [127]:
list6.remove('fazi')
list6

[23, 34, 34, 23, 5676, 566]

In [7]:
#insert( index, element to be added) 
list7= [32,34,1,65,2,7,3,32,32.33, "name", False ]
list7.insert(4, "faizan")
list7

[32, 34, 1, 65, 'faizan', 2, 7, 3, 32, 32.33, 'name', False]

In [135]:
list6.append(391)
list6

[23,
 34,
 34,
 23,
 5676,
 566,
 'faizan',
 'f',
 'a',
 'z',
 'i',
 'f',
 'a',
 'z',
 'i',
 391]

In [10]:
list7

[32, 34, 1, 65, 'faizan', 2, 7, 3, 32, 32.33, 'name', False]

In [12]:
#pop( index ) is used to remove an element by giving an argument of that element's index.

list7.pop(3)
list7

[32, 34, 1, 'faizan', 2, 7, 3, 32, 32.33, 'name', False]

----

## 3: Dictionaries

- collection of unordered elements
- Keys and Values
- curly braces /brackets are used {  }
- elements can be changed (Mutateable)

In [2]:
d1 = {"mouse": 150, "keyboard": 150, "lcd": 1500, "power cables":300}
d1

{'mouse': 150, 'keyboard': 150, 'lcd': 1500, 'power cables': 300}

In [5]:
#adding new values/ elements in a dictionary

d1["cpu"]= 1200
d1

{'mouse': 150, 'keyboard': 150, 'lcd': 1500, 'power cables': 300, 'cpu': 1200}

### functions in dictionary

In [9]:
#To extract only values ,use values() function

d1.values()

dict_values([150, 150, 1500, 300, 1200])

In [8]:
#To extract only Keys ,use Key() function
d1.keys()

dict_keys(['mouse', 'keyboard', 'lcd', 'power cables', 'cpu'])

In [11]:
d2 = {"pencil":10, "eraser": 5, "pointer":15, "remover": 20}
d2

{'pencil': 10, 'eraser': 5, 'pointer': 15, 'remover': 20}

In [12]:
d2.values()

dict_values([10, 5, 15, 20])

In [13]:
d2.keys()

dict_keys(['pencil', 'eraser', 'pointer', 'remover'])

In [14]:
#we cannot add dictionaries like we add lists and tuples

d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [17]:
#use update function to add 2 dictionaries

d1.update(d2)
d1

{'mouse': 150,
 'keyboard': 150,
 'lcd': 1500,
 'power cables': 300,
 'cpu': 1200,
 'pencil': 10,
 'eraser': 5,
 'pointer': 15,
 'remover': 20}

In [19]:
d2.update(d1)
d2

{'pencil': 10,
 'eraser': 5,
 'pointer': 15,
 'remover': 20,
 'mouse': 150,
 'keyboard': 150,
 'lcd': 1500,
 'power cables': 300,
 'cpu': 1200}

In [21]:
d2.clear()
d2

{}

In [24]:
d2 = d1.copy()
d2

{'mouse': 150,
 'keyboard': 150,
 'lcd': 1500,
 'power cables': 300,
 'cpu': 1200,
 'pencil': 10,
 'eraser': 5,
 'pointer': 15,
 'remover': 20}

In [25]:
d1.items()

dict_items([('mouse', 150), ('keyboard', 150), ('lcd', 1500), ('power cables', 300), ('cpu', 1200), ('pencil', 10), ('eraser', 5), ('pointer', 15), ('remover', 20)])

In [40]:
alphabets = {"a","b","c"}
number = {1}

alphabets

{'a', 'b', 'c'}

In [42]:
dictionary = dict.fromkeys(alphabets,number)
dictionary

{'b': {1}, 'a': {1}, 'c': {1}}

In [49]:
#get() function is used to get the value of any key from the dictionary
d2.get("keyboard")

150

In [50]:
d2

{'mouse': 150,
 'keyboard': 150,
 'lcd': 1500,
 'power cables': 300,
 'cpu': 1200,
 'pencil': 10,
 'eraser': 5,
 'pointer': 15,
 'remover': 20}

In [55]:
#pop( index ) is used to remove an element by giving an argument of that element's index.
d2.pop("cpu")

1200

In [56]:
d2

{'lcd': 1500,
 'power cables': 300,
 'pencil': 10,
 'eraser': 5,
 'pointer': 15,
 'remover': 20}

In [57]:
#popitem( ) is used to remove the last element of the dictionary

d2.popitem()

('remover', 20)

In [58]:
d2

{'lcd': 1500, 'power cables': 300, 'pencil': 10, 'eraser': 5, 'pointer': 15}

In [61]:
#extract value and to assign value of any element in the dictionary , we use setdefault( ).

list2 = d2.setdefault("power cables")
list2

300

In [60]:
d2

{'lcd': 1500, 'power cables': 300, 'pencil': 10, 'eraser': 5, 'pointer': 15}

----

## 4:  Sets